/* .faq-container {
  position: relative;
  top: -200px;
} */

@font-face {
  font-family: Gilroy-Medium;
  src: url(../../assets/gilroy/Gilroy-Medium.ttf);
}
.faq-item {
  width: Fixed (792px) px;
  height: Hug (127px) px;
  gap: 16px;
  opacity: 0px;

  text-align: left;
  border-bottom: 1px solid #d6d6d6;
  padding: 15px;
}

.faq-question {
  width: Fill (792px) px;
  height: Hug (32px) px;
  gap: 24px;
  opacity: 0px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.faq-question span {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.faq-answer {
  font-family: Gilroy-Medium, sans-serif;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../assets/gilroy/Gilroy-Bold.ttf);
}
.faq-title {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 40px;
  line-height: 32px;
  text-align: center;
}
